<!DOCTYPE html>
<html>
<head>
	<title>prueba</title>
</head>
<body>
<button onclick="document.cookie='idiomas=es'; location.reload();">castellano</button>
<button onclick="document.cookie='idiomas=eu'; location.reload();">euskera</button>
<p><%= __('saludo') %></p>
<p><%= __('presentacion') %></p>

</body>
</html>